html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}

button {
  background-color: #ffffff3d;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  max-width: 300px;
  padding: 10px 12px;
  text-align: left;
  transition: background 85ms ease-in;
  width: 100%;
}

button:hover {
  background-color: #ffffff52;
}
